
app.config
StudioPlusAPI.sln
StudioPlusAPI.csproj.user
StudioPlusAPI.csproj
.vs/StudioPlusAPI/v17/.suo
ArmorBehaviour \[MOD\]/.vs/ArmorBehaviour \[MOD\]/v17/.suo
ArmorBehaviour \[MOD\]/.vs/slnx.sqlite
ArmorBehaviour \[MOD\]/.vs/VSWorkspaceState.json
ArmorBehaviour \[MOD\]/Code/.vs/Code/v17/.suo
ArmorBehaviour \[MOD\]/Code/.vs/slnx.sqlite
ArmorBehaviour \[MOD\]/Code/.vs/VSWorkspaceState.json
obj/Debug/StudioPlusAPI.csproj.AssemblyReference.cache
obj/Debug/Empty.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/build.force
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/Greenbrick.exe.config
obj/Debug/StudioPlusAPI.csproj.SuggestedBindingRedirects.cache
obj/Debug/StudioPlusAPI.csproj.FileListAbsolute.txt
obj/Debug/StudioPlusAPI.csproj.CoreCompileInputs.cache
0 Documentary/Template.md
.vs/StudioPlusAPI/FileContentIndex/read.lock
.vs/StudioPlusAPI/FileContentIndex/88d67f47-4d08-4272-8504-60f7d1f9c827.vsidx
.vs/StudioPlusAPI/FileContentIndex/457afa67-338f-493f-9b50-c9554aaa748f.vsidx
.vs/StudioPlusAPI/FileContentIndex/29262b5e-bd84-45c4-8841-12b194ca0c3f.vsidx
.vs/StudioPlusAPI/FileContentIndex/277af359-457d-47c6-8029-08be8f95da8d.vsidx
.vs/StudioPlusAPI/FileContentIndex/6f654274-fce3-4550-8eed-2f1f2bbeb6c8.vsidx
