
app.config
StudioPlusAPI.sln
StudioPlusAPI.csproj.user
StudioPlusAPI.csproj
.vs/StudioPlusAPI/v17/.suo
ArmorBehaviour \[MOD\]/.vs/ArmorBehaviour \[MOD\]/v17/.suo
ArmorBehaviour \[MOD\]/.vs/slnx.sqlite
ArmorBehaviour \[MOD\]/.vs/VSWorkspaceState.json
ArmorBehaviour \[MOD\]/Code/.vs/Code/v17/.suo
ArmorBehaviour \[MOD\]/Code/.vs/slnx.sqlite
ArmorBehaviour \[MOD\]/Code/.vs/VSWorkspaceState.json
obj/Debug/StudioPlusAPI.csproj.AssemblyReference.cache
obj/Debug/Empty.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/build.force
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/Greenbrick.exe.config
obj/Debug/StudioPlusAPI.csproj.SuggestedBindingRedirects.cache
obj/Debug/StudioPlusAPI.csproj.FileListAbsolute.txt
obj/Debug/StudioPlusAPI.csproj.CoreCompileInputs.cache
